*{  margin: 0px;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
}

.MenuBar{
    color: white;
    z-index: 3;
    
    
}
.menuul{
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    height: 0px;
    color: black;
}
.perfil{
    padding-right: 20px;
}
.menuul li{
    padding-left: 5px;
    padding-right: 5px;
}
.menuul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menuul li a:hover{
    color: #df1717;
    cursor: pointer;
}
.img{
    height: 50px;
    width: 50px;
}
#nome-site{
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(87, 87, 241);
}
.rambarger ul li{
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 5px;
    margin: 10px;
}
.rambarger{
    width: 15vw;
    z-index: 3;
    margin-top: 0px;
    position: relative;
    display: none;
    
}
.env{
    background-color: #f8d700;
    display: flex;
   

    
}
body{
    background-color:#707070;
}
nav{
    border: 2px solid rgb(0, 0, 0);
    background-color: #f8d700;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;

}
.logo a{
    text-decoration: none;
}
.menuul .lis:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgba(173, 141, 77, 0);
}
.rambarger ul li:hover{
    background-color: rgb(0, 0, 0);
}
@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }

    .menuul{
        display: flex;
        flex-direction: column;
        width: 70vw;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        text-align: center;
        height: 400px;
        transform: translateX(-110%);
    }
    .rambarger{
        display: inline;
    }
}
 .menuul.active{
    transform: translateX(0);
 }



